In [1]:
import pandas as pd

In [ ]:
#load in 5 rows from each year
df_2014_5rows=pd.read_csv('H-1B_2014.csv', nrows=5)

In [3]:
df_2015_5rows=pd.read_csv('H-1B_2015.csv', nrows=5)

In [4]:
df_2016_5rows=pd.read_csv('H-1B_2016.csv', nrows=5)

In [5]:
df_2017_5rows=pd.read_csv('H-1B_2017.csv', nrows=5)

In [6]:
#get column names
col_2014=set(df_2014_5rows.columns)

In [7]:
col_2015=set(df_2015_5rows.columns)

In [8]:
col_2016=set(df_2016_5rows.columns)

In [9]:
col_2017=set(df_2017_5rows.columns)

In [10]:
col_2014

{'DECISION_DATE',
 'FULL_TIME_POS',
 'LCA_CASE_EMPLOYER_ADDRESS',
 'LCA_CASE_EMPLOYER_CITY',
 'LCA_CASE_EMPLOYER_NAME',
 'LCA_CASE_EMPLOYER_POSTAL_CODE',
 'LCA_CASE_EMPLOYER_STATE',
 'LCA_CASE_EMPLOYMENT_END_DATE',
 'LCA_CASE_EMPLOYMENT_START_DATE',
 'LCA_CASE_JOB_TITLE',
 'LCA_CASE_NAICS_CODE',
 'LCA_CASE_NUMBER',
 'LCA_CASE_SOC_CODE',
 'LCA_CASE_SOC_NAME',
 'LCA_CASE_SUBMIT',
 'LCA_CASE_WAGE_RATE_FROM',
 'LCA_CASE_WAGE_RATE_TO',
 'LCA_CASE_WAGE_RATE_UNIT',
 'LCA_CASE_WORKLOC1_CITY',
 'LCA_CASE_WORKLOC1_STATE',
 'LCA_CASE_WORKLOC2_CITY',
 'LCA_CASE_WORKLOC2_STATE',
 'OTHER_WAGE_SOURCE_1',
 'OTHER_WAGE_SOURCE_2',
 'PW_1',
 'PW_2',
 'PW_SOURCE_1',
 'PW_SOURCE_2',
 'PW_UNIT_1',
 'PW_UNIT_2',
 'STATUS',
 'TOTAL_WORKERS',
 'VISA_CLASS',
 'YR_SOURCE_PUB_1',
 'YR_SOURCE_PUB_2'}

In [14]:
#number of columns for each year
len(col_2014),len(col_2015),len(col_2016),len(col_2017)

(35, 40, 40, 52)

In [24]:
col_all= col_2014 & col_2015  & col_2016 & col_2017

In [25]:
len(col_all)

2

In [27]:
col_567= col_2015  & col_2016 & col_2017

In [28]:
len(col_567)

29

In [29]:
col_56=col_2015  & col_2016

In [30]:
len(col_56)

32

In [31]:
col_2015  ^ col_2016

{'EMPLOYER_ADDRESS',
 'EMPLOYER_ADDRESS1',
 'EMPLOYER_ADDRESS2',
 'ORIGINAL_CERT_DATE',
 'PW_SOURCE_OTHER',
 'PW_SOURCE_YEAR',
 'PW_WAGE_LEVEL',
 'PW_WAGE_SOURCE_OTHER',
 'PW_WAGE_SOURCE_YEAR',
 'TOTAL WORKERS',
 'TOTAL_WORKERS',
 'WAGE_RATE_OF_PAY',
 'WAGE_RATE_OF_PAY_FROM',
 'WAGE_RATE_OF_PAY_TO',
 'WILLFUL VIOLATOR',
 'WILLFUL_VIOLATOR'}

In [32]:
col_2015.difference(col_2016)

{'EMPLOYER_ADDRESS1',
 'EMPLOYER_ADDRESS2',
 'PW_WAGE_LEVEL',
 'PW_WAGE_SOURCE_OTHER',
 'PW_WAGE_SOURCE_YEAR',
 'TOTAL WORKERS',
 'WAGE_RATE_OF_PAY',
 'WILLFUL VIOLATOR'}

In [33]:
col_2016.difference(col_2015)

{'EMPLOYER_ADDRESS',
 'ORIGINAL_CERT_DATE',
 'PW_SOURCE_OTHER',
 'PW_SOURCE_YEAR',
 'TOTAL_WORKERS',
 'WAGE_RATE_OF_PAY_FROM',
 'WAGE_RATE_OF_PAY_TO',
 'WILLFUL_VIOLATOR'}

In [34]:
df_2015_5rows.head(1)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,...,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,I-200-09121-701936,WITHDRAWN,02/05/2015,02/05/2015,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,NaN,...,2014,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412

In [35]:
df_2016_5rows.head(1)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,...,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,08/27/2012,10/16/2015,H-1B,02/25/2013,02/24/2016,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,...,41000.0,0,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,08/31/2012

In [36]:
col_2017 ^ col_2016

{'AGENT_REPRESENTING_EMPLOYER',
 'AMENDED_PETITION',
 'CHANGE_EMPLOYER',
 'CHANGE_PREVIOUS_EMPLOYMENT',
 'CONTINUED_EMPLOYMENT',
 'EMPLOYER_BUSINESS_DBA',
 'H-1B_DEPENDENT',
 'H1B_DEPENDENT',
 'LABOR_CON_AGREE',
 'NAICS_CODE',
 'NAIC_CODE',
 'NEW_CONCURRENT_EMPLOYMENT',
 'NEW_EMPLOYMENT',
 'PUBLIC_DISCLOSURE_LOCATION',
 'PW_SOURCE',
 'PW_WAGE_LEVEL',
 'PW_WAGE_SOURCE',
 'SUPPORT_H1B'}